@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Teko:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-accent: #facc15;
  --color-primary-hover: #eab308;
  --color-bg-core: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-text-primary: #f3f4f6;
  --color-text-secondary: #71717a;

  --color-status-success: #10b981;
  --color-status-alert: #f59e0b;
  --color-status-error: #ef4444;

  --font-teko: "Teko", sans-serif;
  --font-rajdhani: "Rajdhani", sans-serif;
}

@layer base {
  body {
    @apply bg-bg-core text-text-primary font-rajdhani;
  }
}

/* Custom Animations */
.animate-float-slow {
  animation: float-slow 20s ease-in-out infinite alternate;
}

.animate-float-fast {
  animation: float-fast 15s ease-in-out infinite alternate;
}

.animate-timer-finished {
  animation: timer-finished 2s infinite ease-in-out;
}

@keyframes float-slow {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(50px, 30px) scale(1.1);
  }
}

@keyframes float-fast {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(-40px, -50px) scale(1.15);
  }
}

@keyframes timer-finished {

  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 30px rgba(239, 68, 68, 0.2);
    border-color: rgba(39, 39, 42, 1);
    /* zinc-800 */
  }

  50% {
    transform: scale(1.03);
    box-shadow: 0 0 80px rgba(239, 68, 68, 0.6);
    border-color: rgba(239, 68, 68, 0.8);
  }
}